@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@500;900&display=swap');
:root{
    --primary-color:#36498f ;
}
body{
    background-color: #161d20;
}
h1{
    color: #a4a29e;
    text-align: center;
    background-color: var(--primary-color) ;
    font-family: 'Big Shoulders Inline Text', cursive;
    font-size: 50px;
}
.heading{
    margin-bottom: 6rem;
}
.timer{
    color: var(--primary-color);
    margin:auto;
    text-align: center;
    font-size: 80px; 
    width:75%; 
    padding-top:30%;
    font-family: 'Big Shoulders Inline Text', cursive;
    
}
#circle {
    margin:auto;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: solid;
    border-color:#b0ebeb    ;
    border-width: 10px;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255), 0 6px 20px 0 rgb(255, 255, 255);
}
.options{
    font-size: 45px;
    text-shadow: 2px 2px 10px black;
    color: var(--primary-color);
    text-align: center;
    margin-top: 4rem;
}
i{
    margin-right: 1rem;
    margin-left: 1rem;
}